.docs {
	padding-top: 4em;
	padding-bottom: 20em;
	padding-left: auto;
	padding-right: auto;
	// bg pattern
	
}

.docs__block {
	margin-bottom: 4em;
	img {
		display: block;
		margin: 0em auto;
		margin-top: 2em;
	}
}

.docs__h1--uppercase {
	text-transform: uppercase;
	line-height: 1.5em;
	font-size: 1.7em;
}

.docs__biowrapper {
	// margin-bottom: 4em;
	// padding-bottom: 8em;
}

.docs__bio {
	// background-color: #fafafa;
	// border: 1px solid #ededed;
	h4 {
		margin-bottom: 0.2em;
		margin-top: 1em;
	}
	.subheader {
		margin-bottom: 1.5em;
		margin-top: 0.25em;
	}
}

.docs__bioparagraph {
	font-size: 0.80em;
}

#docs__fixednav {
	position: fixed;
	top: 100px; 
	width: 300px;
}

.docs__smallsidenavcontainer {
	margin-bottom: 6em;
}

.docs__p {
	font-weight: 300 italic;
	line-height: 1.85rem;
	margin-top: 2em;
}

.docs__caption {
	font-style: italic;
	font-size: 0.8rem;
	margin-bottom: 4em;
	margin-top: 1em;
}

.docsnav li {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 0;
	background-color: #fff;
}

.docsnav li:hover {
	background-color: $yellow;
	color: #fff;
	// font-weight: bold;
}

.docsnav__a--active {
	border-bottom: 1px solid $yellow;
}

.docsnav__h3 a {
	color: #000;
}

.top-bar {
	.active {
		border-bottom: 1px solid $yellow;
	}
}

.top-bar:hover {

}

.docs__contact {
	margin-bottom: 4em;
	a {
		color: $yellow;
	}
}