footer {
	background-color: #f2f2f2;
	min-height: 300px;
	padding: 4em 0em;
}

.footer__h1 {
	font-weight: 300;
	color: #878386;
}

.footer__ul {
	list-style: none;

}

.footer__logo {
	margin: 0em auto 1.75rem auto;
	width: 100px;
	display: block;
}

.footer__social-list {
	text-align: center !important;
	margin: 0em 0em 2em 0em;
}

.footer__social-list li {
	display: inline-block;
}

.footer__social-list a {
	color: $dark-gray;
	font-size: 1.5em;
	padding: 0 1em 0em 1em;
	opacity: 0.4;
	transition: opacity 0.5s ease;
}

.footer__social-list a:hover {
	opacity: 1.0;
}

.footer__social-list a:active {
	color: $yellow;
}